.App {
  text-align: center;
}
body {
  color: #323457
}
a {
  text-decoration: none;
  color: #323457
}
a:hover {
  text-decoration: underline;
}
.logo {
  height: 60px;
  vertical-align:  middle;
  margin-top: 10px;
}
.header {
  position: fixed;
  position: sticky;
  top: 0px;
  background: #FFF;
  color: #000;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #3dbc87;
  box-shadow: rgba(0,0,0,0.03) 0 10px 10px;
}
.title {
  font-size: 1.5em;
  font-weight: normal;
  color: #323457;
  margin: 30px 0 30px 20px;
  vertical-align: middle;
}
.title strong {
  font-weight: normal;
  color: #34bc88;
}

h1, h2, h3 , h4, h5, h6 {
  color: #323457;
  font-weight: 300;
  text-align: center
}

.one-pane {
  width: 1280px;
  margin: 0 auto;
}


div.box {
  background: #FFF;
  padding: 5px;
}
div.box > h2 {
  margin: 5px 0 10px 0;
  border-bottom: 2px solid #3dbc87;
}


button[type="button"] {
  width: 100%;
  background: #323457;
  color: #FFF;
  text-align: center;
  font-weight: 300;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  line-height: 20px;
  font-size: 15px;
}

.mainContent .box > h2 {
  text-align: left;
  text-indent: 20px;
}
a.icn-plus{
  line-height: 13px;
}
a.icn-plus:hover {
  text-decoration: none;
  color: #3dbc87;
}
a.icn-plus:before {
  content:  "+";
  display: inline-block;
  border: 1px solid #000;
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  top: -1px
}
a.icn-plus:hover:before {
  color: #3dbc87;
  border-color: #3dbc87;
}
button.removeBtn {
  margin: 0;
  font-size: 12px; 
  background: rgb(175, 31, 31);
  color: #FFF;
}
.callList {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
.callList th {
  border-bottom: 1px solid #000;
}
.callList tbody tr:nth-child(2n + 1) td {
    background: rgb(236, 236, 236);
}

.closed .overlay,
.closed .dialog {
  display: none;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: block;
  background: rgba(0, 0, 0, 0.7);
}
.dialog {
  position: absolute;
  width: 500px;
  top: calc(50vh);
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  background: #FFF;
}
button {
  cursor: pointer;
}
.open .dialog > h2 { text-align: center; text-indent: 0;}

.dialog > h2 { position: relative; }
.dialog > h2 > button { 
  position: absolute;
  left: 500px;
  top: -10px;
  border-radius: 50%;
  background: #000;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px;
  color: #FFF;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-indent: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #FFF; 
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;
  cursor: pointer;
}
.infText {
  font-size: 12px;
}

.dialog {
    text-align: left; 
}
.dialog select {
  width: 100%;
  margin-bottom:10px;
}
.dialog input[type="text"] {
  display: block;
  width: 490px;
  margin: 10px 2px;
}
.dialog select:nth-child(2) {
  margin-bottom: 0;
}
ul.errors {
  border: 1px solid rgb(126, 3, 3);
  background: rgba(255, 99, 99, 0.3);
  color: #F00;
  padding: 10px;
  list-style:  inside;
  font-size: 12px;
}